@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceTraining.Models.Pages.PromotionPage

<div>
  @Html.PropertyFor(m => m.MainBody)
</div>

<div>
    @Html.PropertyFor(m => m.CampaignArea)
</div>