@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceTraining.Models.Catalog.AccessoryNode

seems not to show up
<div>
  @Html.PropertyFor(m => m.MainBody)
</div>

<div>
    @*@foreach (var item in Model.)
    {
        
    }*@
</div>