@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

<div class="row">
    <div class="span8">
        @RenderBody()
    </div>
    <div class="span4">
        @RenderSection("RelatedContent", false)
    </div>

</div>

