<?xml version="1.0"?>
<Catalog autoConfigure="true">
  <Connection connectionStringName="EcfSqlConnection" />
  <Cache enabled="false" collectionTimeout="0:15:0" entryTimeout="0:15:0" nodeTimeout="0:15:0" schemaTimeout="0:15:0"/>
  <Encoding imageQualityPercentage="80" defaultFormat="jPeg" />
  <Roles />
  <Events>
    <add type="Mediachase.Commerce.Catalog.Loggers.CatalogLogger, Mediachase.Commerce" />
  </Events>
  <!-- Sale Price Types -->
  <SalePriceTypes>
    <!-- Add custom types here. "value" should start from 3 because All Customers, Customer, Customer Price Group are existing in system. -->
    <!--
		<add key="NewCustomPriceType" value="3" description="New Custom Price Type" />
		<add key="JurisdictionGroup" value="4" description="Jurisdiction Group"/>
    -->
    <add key="BasePrice" value="3" description="Lowest possible price" />
  </SalePriceTypes>
</Catalog>