<SearchConfig version="1.0">
	<SearchFilters>

    <Filter field="color">
      <Descriptions defaultLocale="en">
        <Description locale="en">Color</Description>
      </Descriptions>
      <Values>
        <SimpleValue key="red" value="red">
          <Descriptions defaultLocale="en">
            <Description locale="en">Red</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="white" value="white">
          <Descriptions defaultLocale="en">
            <Description locale="en">White</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="black" value="black">
          <Descriptions defaultLocale="en">
            <Description locale="en">Black</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="blue" value="blue">
          <Descriptions defaultLocale="en">
            <Description locale="en">Blue</Description>
          </Descriptions>
        </SimpleValue>
      </Values>
    </Filter>

    <Filter field="brand">
      <Descriptions defaultLocale="en">
        <Description locale="en">Brand</Description>
      </Descriptions>
      <Values>
        <SimpleValue key="volvo" value="volvo">
          <Descriptions defaultLocale="en">
            <Description locale="en">Volvo</Description>
          </Descriptions>
        </SimpleValue>

        <SimpleValue key="saab" value="saab">
          <Descriptions defaultLocale="en">
            <Description locale="en">Saab</Description>
          </Descriptions>
        </SimpleValue>

        <SimpleValue key="jaguar" value="jaguar">
          <Descriptions defaultLocale="en">
            <Description locale="en">Jaguar</Description>
          </Descriptions>
        </SimpleValue>
        
        <SimpleValue key="rollsroyce" value="rollsroyce">
          <Descriptions defaultLocale="en">
            <Description locale="en">Rolls Royce</Description>
          </Descriptions>
        </SimpleValue>
      </Values>
    </Filter>

  </SearchFilters>
</SearchConfig>