@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceTraining.Models.ViewModels.CartViewModel

<div>
  @*@Html.PropertyFor(m => m.MainBody)*@
</div>

<div>
    EmptyCartView
    @*RoCe: Get this back*@
    @*<ul>
        @foreach (var item in Model.Messages)
        {
            <li>
                @item
            </li>

        }
    </ul>*@
</div>