@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceTraining.Models.ViewModels.NodeListingBlockViewModel

<div>
  @Html.PropertyFor(m => m.Name)
</div>

@foreach (var item in @Model.entries)
{
    <div>
        <ul>
            <li>@item.Code</li>
        </ul>
    </div>
}